@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing the Figtree font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap");

/* Defining the Grifter font */
@font-face {
  font-family: "Grifter";
  src: url("/fonts/GRIFTER Bold 700.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
